body {
    margin: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color: #000000;
    align-content: center;
}

.web_head {
    color: #b91d51;
    margin-bottom: 5;
    text-align: center;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}

a:hover {
    color: #c48a1f;
}

a:active {
    color: #70060e;
} 
